[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = witekbobrowski
	email = witek@bobrowski.com.pl
[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	md = merge develop
	mt = mergetool
	mc = merge --continue
	cim = commit -m
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
