[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = witekbobrowski
	email = witek@bobrowski.com.pl
[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	cim = commit -m
	st = status
    s = status --short
	md = merge develop
	mt = mergetool
	mc = merge --continue
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[pager]
    diff = "diff-so-fancy | less --tabs=4 -RFX"
    show = "diff-so-fancy | less --tabs=4 -RFX"
